.pokemon-card {
    padding: 1rem;
}

.pokemon-info{
    width: 100%;
    text-align: center;
}

.img-container{
    width: 100%;
    text-align: center;
}

.abilities{
    margin-top:1rem;
    display: flex;
    justify-content: center;
}

